<style type="text/css">
   body {
     background: #81a4d4 !important;
     margin:0px;
     padding:0px;
     height:100%;
     font-family: 'Roboto', sans-serif;
     }
   button.submit-button {
     background-color:	#477bc3;
     border: none;
     color:white;
     padding:12px 28px;
     font-size:16px;
     border-radius: 4px;
     display:inline-block;
     margin:2px;
   }
   input.text-input {
    padding: 12px 12px;
    border-radius: 4px;
    border:none;
    margin:2px;
    background-color: white;
    font-size: 16px;
    color: #474444;
    -webkit-appearance:none;
   }
   div.page-wrapper {
     height:100%;
     width:50%;
     margin:auto;
   }
   .copyright {
     text-align: center;
   }
   div.panel {
     margin:auto;
     width:100%;
     background-color: #eeeeee;
     border-radius: 4px;
     padding:32px;
   }
   #result-msg {
     background-color: 	#474444;
     color: white;
     padding:8px;
     border-radius: 4px;
     font-size: 16px;
   }
   </style>


<div class="page-wrapper">
  <div class="panel">
    <!-- Intro -->
    <h1>Snow Day Calculator</h1>
    <p>What's the chance of having a snow day tomorrow?</p>
    <!-- Form -->
    <form class="form">
      <input id="days" class="text-input" type="text" placeholder="Snow Days This Year">
      <input id="zipcode" class="text-input" type="text" placeholder="Zipcode">
      <button type="button" class="submit-button" onclick="calculate();">Calculate</button>
    </form>
    <h3 id="result-msg">Enter information to get accurate and up-to-date results</h3>
    <hr>
    <span class="panel-info">
      <h2>Ways to help your chances</h2>
      <ol>
        <li>Flush 6 ice cubes down the toilet (prefered)</li>
        <li>Sleep with a spoon under your pillow</li>
        <li>Sleep with your pajamas inside out</li>
        <li>Shake every snow globe you see</li>
      </ol>
    </span>
    <hr>
    <span class="panel-info">
      <h2>Want more weather information?</h2>
      <p>Checkout Weather Underground -> <a href="">HERE</a></p>
    </span>
  </div>
</div>

<p class="copyright">Copyright &copy 2017 Dylan Dunn. All Rights Reserved</p>

<script src="/js/snow-calc.js"></script>
