<div class="container col-md-8 col-md-offset-2">
  <div class="jumbotron">
    <!-- Intro -->
    <h1>Snow Day Calculator</h1>
    <p>What's the chance of having a snow day tomorrow?</p>
    <!-- Form -->
    <div class="col-md-12 input-group">
    </div>
    <div class="col-md-12 input-group">
      <input id="zipcode" name="zipcode" class="form-control input-lg" type="text" placeholder="Zipcode">
      <span class="input-group-btn">
        <button type="button" class="btn btn-info btn-lg" onclick="calculate();">
        <i class="glyphicon glyphicon-refresh"></i>
      </span>
    </div>
    <h3 id="result-msg"></h3>
  </div>
  <h6 class="text-center">Copyright &copy 2017 Dylan Dunn. All Rights Reserved</h6>
</div>

<script src="/js/snow-calc.js"></script>
