<style type="text/css">
   body {
     background: #81a4d4 !important;
     margin:0px;
     padding:0px;
     height:100%;
     font-family: 'Roboto', sans-serif;
     }
   button.submit-button {
     background-color:	#477bc3;
     border: none;
     color:white;
     padding:12px 28px;
     font-size:16px;
     border-radius: 4px;
     display:inline-block;
     margin:2px;
   }
   input.text-input {
    padding: 12px 12px;
    border-radius: 4px;
    border:none;
    margin:2px;
    background-color: white;
    font-size: 16px;
    color: #474444;
    display:block;
    margin-bottom:10px;
    width:35%;
    max-width:250px;
    min-width: 150px;
   }
   div.page-wrapper {
     height:100%;
     width:50%;
     max-width: 650px;
     margin:auto;
     margin-top:100px;
   }
   .copyright {
     text-align: center;
   }
   div.panel {
     margin:auto;
     width:100%;
     background-color: #eeeeee;
     border-radius: 4px;
     padding:32px;
   }
   #result-msg {
     color: black;
     padding:8px;
     border-radius: 4px;
     font-size: 16px;
     width:100%;
     max-width: 500px;
     background-color: white;
     padding: 12px 12px;
     margin-left:2px;
     margin-right:2px;
   }
   li {
     font-size: 16px;
   }
   ul {
     list-style: circle;
   }
   img  {
     height: 256px;
     margin-right:32px;
     float:left;
   }
   </style>


<div class="page-wrapper">
  <div class="panel">
    <img src="/img/logo.png">
    <!-- Intro -->
    <h1>Snow Day Calculator</h1>
    <p>What's the chance of having a snow day tomorrow?</p>
    <!-- Form -->
    <form class="form">
      <input id="days" class="text-input" type="text" placeholder="Snow Days This Year">
      <input id="zipcode" class="text-input" type="text" placeholder="Zipcode">
      <button type="button" class="submit-button" onclick="calculate();">Calculate</button>
    </form>
    <p id="result-msg">Accurate results quick! Just fill in the form above.</p>
    <hr>
    <span class="panel-info">
      <h2>Ways to help your chances</h2>
      <ul>
        <li>Flush 6 ice cubes down the toilet (works best!)</li>
        <li>Sleep with a spoon under your pillow</li>
        <li>Sleep with your pajamas inside out</li>
        <li>Shake every snow globe you see</li>
      </ul>
    </span>
    <hr>
    <span class="panel-info">
      <h2>Want more weather information?</h2>
      <p>Checkout Weather Underground -> <a href="https://www.wunderground.com/?apiref=a56a7c2da5f98618">HERE</a></p>
    </span>
    <hr>
    <span class="panel-info">
      <h2>Contact</h2>
      <p>I'd love to here suggestions or concerns</p>
      <p><strong>Email:</strong> robodylan123@gmail.com</p>
      <p><strong>Github:</strong> https://github.com/robodylan</p>
    </span>
  </div>
</div>

<p class="copyright">Copyright &copy 2017 Dylan Dunn. All Rights Reserved.</p>

<script src="/js/snow-calc.js"></script>
