body {
  background: #81a4d4 !important;
  margin:0px;
  padding:0px;
  height:100%;
  font-family: 'Roboto', sans-serif;
  }
button.submit-button {
  background-color:	#477bc3;
  border: none;
  color:white;
  padding:12px 28px;
  font-size:16px;
  border-radius: 4px;
  display:inline-block;
  margin:2px;
  box-shadow: 2px 2px 5px #888888;
}
input.text-input {
 padding: 12px 12px;
 border-radius: 4px;
 border:none;
 margin:2px;
 background-color: white;
 font-size: 16px;
 color: #474444;
 display:block;
 margin-bottom:10px;
 width:35%;
 max-width:200px;
 min-width: 150px;
 box-shadow: 2px 2px 5px #888888;
}
.copyright {
  text-align: center;
}
div.panel {
  margin:25px;
  margin:auto;
  width:75%;
  max-width: 625px;
  background-color: #eeeeee;
  border-radius: 4px;
  padding:20px;
  clear: both;
  display: table;
}
div.panel-info {
  overflow: hidden;
}
#result-msg {
  color: black;
  padding:8px;
  border-radius: 4px;
  font-size: 16px;
  max-width: 500px;
  background-color: white;
  padding: 12px 12px;
  display:block;
  box-shadow: 2px 2px 5px #888888;
}
li {
  font-size: 16px;
}
ul {
  list-style: circle;
}
img.logo  {
  width:25%;
  min-width: 100px;
  margin-right:32px;
  float:left;
  padding-bottom:50px;
}
#donate {
  display:inline-block;
  float:right;
}
#share {
  display:inline-block;
  width:35%;
  margin:0px;
  padding:0px;
  background-color: #477bc3;
  color:white;
  text-decoration: none;
  padding:12px;
  text-align: center;
  margin-right:20px;
  box-shadow: 2px 2px 5px #888888;
}
hr {
  margin:20px;
}
div.ad {
  background-color: white;
  margin:25px;
  margin-left:auto;
  margin-right:auto;
  width:50%;
  max-width: 625px;
  padding:0px 20px;
  text-align: center;
  background-color: #eeeeee;
  border-radius: 4px;
}
.ad-title {
  margin: 2px;
  padding:0px;
}
